<!DOCTYPE html>
<html lang='ja' ng-app='MyApp' id='my'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>こえぽたブラウザ</title>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <script src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js'></script>
        <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
        <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
        <script src="/resource/seiyu.js"></script>
        <script>
            angular.module('MyApp', ['ui.bootstrap'])
                    .controller('MyController', ['$scope', '$modal', function($scope, $modal) {
                            if (window.localStorage) {
                                $scope.storageStandBy = true;
                            } else {
                                $scope.storageStandBy = false;
                            }
                            $scope.new_state = seiyu_obj.eventids;
                            if ($scope.storageStandBy) {
                                var ls = window.localStorage.getItem('saveState');
                                if (!ls) {
                                    window.localStorage.setItem('saveState', JSON.stringify($scope.new_state));
                                }
                                $scope.old_state = JSON.parse(ls);
                            }
                            $scope.now = seiyu_obj.female_seiyu;
                            $scope.gender = 'female';
                            $scope.new_state = seiyu_obj.eventids;
                            $scope.events = seiyu_obj.event;
                            $scope.sort = function(a) {
                                return -a.count;
                            };
                            $scope.sort = function(a) {
                                return $scope.events[a.eventids[0]].b;
                            };
                            $scope.modalOpen = function(seiyu) {
                                $scope.seiyu = seiyu;
                                $modal.open({
                                    templateUrl: 'myModal', controller: ModalInstanceCtrl,
                                    scope: $scope, windowClass: 'app-modal-window'
                                });
                            };
                            $scope.changeGender = function() {
                                if ($scope.gender === 'female') {
                                    $scope.now = seiyu_obj.male_seiyu;
                                    $scope.gender = 'male';
                                } else {
                                    $scope.now = seiyu_obj.female_seiyu;
                                    $scope.gender = 'female';
                                }
                            };
                            $scope.saveState = function() {
                                if ($scope.storageStandBy) {
                                    var s = window.localStorage.getItem('saveState');
                                    if (s) {
                                        if (confirm('現在の新着表示がクリアされます。よろしいですか？')) {
                                            window.localStorage.setItem('saveState', JSON.stringify($scope.new_state));
                                            $scope.old_state = $scope.new_state;
                                        }
                                    } else {
                                        if (confirm('ブラウザに状態を記憶することで、次回更新時、新着イベントを強調表示できます。')) {
                                            window.localStorage.setItem('saveState', JSON.stringify($scope.new_state));
                                            alert('記憶しました。');
                                        }
                                    }
                                } else {
                                    alert('ブラウザが対応していません。');
                                }
                            };
                            $scope.newEvent = function(seiyu) {
                                if (!$scope.storageStandBy) {
                                    return false;
                                }
                                for (var i = 0; i < seiyu.eventids.length; i++) {
                                    if ($scope.old_state[seiyu.eventids[i]] && $scope.old_state[seiyu.eventids[i]][seiyu.name]) {
                                    } else {
                                        return true;
                                    }
                                }
                                return false;
                            };
                            $scope.newEvent2 = function(name, id) {
                                if (!$scope.storageStandBy) {
                                    return false;
                                }
                                if ($scope.old_state[id] && $scope.old_state[id][name]) {
                                    return false;
                                } else {
                                    return true;
                                }
                            }
                            ;
                            $scope.newEvent3 = function(seiyu) {
                                if (!$scope.storageStandBy) {
                                    return '1';
                                }
                                for (var i = 0; i < seiyu.eventids.length; i++) {
                                    if ($scope.old_state[seiyu.eventids[i]] && $scope.old_state[seiyu.eventids[i]][seiyu.name]) {
                                    } else {
                                        return '0';
                                    }
                                }
                                return '1';
                            }
                            ;
                        }
                    ]);
            var ModalInstanceCtrl = function($scope, $modalInstance) {
            };</script>
        <style>
            .app-modal-window .modal-dialog{width:1000px;}
            .no{width:5%;text-align:center;}
            .name{cursor:pointer;width:13%;}
            .count{width:5%;text-align:center;}
            .ev{width:72%;}
            .name:hover{color:blue;font-weight:bold;width:10%;}
            .newEvent{color:red;}
        </style>
    <body ng-controller='MyController'>
        <div class='container'>
            <h2 style='float:left;'>こえぽたイベントスケジュールブラウザ</h2><div style='float:right;padding-top:20px;'><input type='button' ng-click='changeGender();' value='性別を切り替え' /> <input type='button' value='新着をクリア' ng-click='saveState();'/></div> <div style='clear:both;'><a href='http://www.koepota.jp/eventschedule/'>本家</a></div>
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th class='no'>No</th>
                        <th class='name'>氏名</th>
                        <th class='count'>件数1</th>
                        <th class='count'>件数2</th>
                        <th class='ev'>直近のイベント</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="seiyu in now|orderBy:[newEvent3, '-count', '-count2', sort]" ng-class='{newEvent:newEvent(seiyu)}'>
                        <td class='no'>{{$index + 1}}</td>
                        <td ng-click='modalOpen(seiyu)' class='name'>{{seiyu.name}}</td>
                        <td class='count'>{{seiyu.count}}</td>
                        <td class='count'>{{seiyu.count2}}</td>
                        <td class='ev'><a href='http://www.koepota.jp/eventschedule/{{seiyu.eventids[0].substr(0, 4)}}/{{seiyu.eventids[0].substr(4, 2)}}/{{seiyu.eventids[0].substr(6, 2)}}/{{seiyu.eventids[0]}}.html' target='_blank'>{{events[seiyu.eventids[0]].b}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script  type='text/ng-template' id='myModal'>
            <style>
            .date2{width:10%;}
            .evname2{width:35%;}
            .place2{width:20%;}
            .member2{width:35%;}
            .newEvent{color:red;}
            </style>
            <div class='modal-header'>
            <h3 class='modal-title'><a href='http://ja.wikipedia.org/wiki/{{seiyu.name}}' target='_blank'>{{seiyu.name}}</a></h3>
            {{seiyu.count}}イベント {{seiyu.count2}}ステージ
            </div>
            <div class='modal-body'>
            <table class='table'>
            <thead><tr><th class='date2'>日時</th><th class='evname2'>イベント名</th><th class='place2'>場所</th><th class='member2'>出演者</th></tr></thead>
            <tbody>
            <tr ng-repeat='id in seiyu.eventids' ng-class='{newEvent:newEvent2(seiyu.name,id)}'>
            <td class='date2'>{{events[id].a}}</td>
            <td class='evname2'><a href='http://www.koepota.jp/eventschedule/{{id.substr(0, 4)}}/{{id.substr(4, 2)}}/{{id.substr(6, 2)}}/{{id}}.html' target='_blank'>{{events[id].b}}</a></td>
            <td class='place2'>{{events[id].c}}</td>
            <td class='member2'>{{events[id].d}}</td>
            </tr>
            </tbody>
            </table>
            </div>
            <div class='modal-footer'></div>
            </body>
        </script>
    </body>
</html>